
<div class="texto d-flex p-2 p-md-3">
	<div class="d-flex flex-column w-50">
		<div>
			<i class="fa fa-phone pr-1" aria-hidden="true"></i> 54 9 11 5161 2850
		</div>
		<div>
			<i class="fa fa-envelope-o pr-1" aria-hidden="true"></i><a style="color: #212529;" [href]="'mailto:info@queo.com.ar'">info@queo.com.ar</a>
		</div>
		<!-- 
		!! Lo siguiente es para agregar direccion
		<div class="d-flex flex-wrap align-content-start">
			<div class="d-inline-block pr-1"><i class="fa fa-map-marker" aria-hidden="true"></i></div>
			<div class="d-inline-block pl-1">
				Gascon 483 <br> Ciudad Autonoma de Buenos Aires <br> CP C1181ACG, Argentina
			</div>
		</div> -->
	</div>
	<div class="px-2 align-self-end ml-auto"><small class="nota">Copyright © 2017 Queo - web design by Maurito</small></div>
</div>
