.contenedor {
	min-height: calc(100vh - 56px);
}

.sebm-google-map-container {
  height: 100%;
  width: 100%;
}

.item {
	width: 50%;
}

.estilo {
	font-weight: 300;
}

@media (max-width : 415px) {
	.item {
		width:100%;
	}

	.sebm-google-map-container {
	  height: 300px;
	  width: 100%;
	}
}