.sebm-google-map-container {
  height: 100%;
  width: 100%;
}

.item {
	width: 50%;
	margin: auto; /* remover esta linea si quiero incluir el mapa */
}

.estilo {
	font-weight: 300;
}

@media (max-width : 415px) {
	.item {
		width:100%;
	}

	.sebm-google-map-container {
	  height: 300px;
	  width: 100%;
	}
}