<div class="d-flex flex-column">
  <div class="image d-flex" [ngStyle]="{'background-image': 'url(' + imageGrano1 + ')'}">
  	<div class="texto align-self-center text-justify p-5">
			<p>
  			Las raíces del terrazzo se remontan a Venecia del siglo 15. Artesanos de aquella época utilizaban para su fabricación materiales de descarte de la construcción de palacios, catedrales y diversos edificios.
			</p>
  		<p>
				En sus orígenes, el terrazzo se componía simplemente de una base arcillosa sobre la que se vertían cascotes y guijarros de mármol. Posteriormente estos guijarros se pulieron para conseguir un pavimento más confortable. Finalmente, los trabajadores descubrieron que vertiendo leche de cabra, incluso una vez seca, el aspecto del suelo adquiría un aspecto similar al del mármol​ por lo que empezaron a usarlo como sellante.
			</p>
  		<p>
				Queo es un proyecto nacido de <a class="quadri" href="http://www.quadri.com.ar">Quadri</a>, empresa pionera en la producción de baldosas de terrazzo en la Argentina. <a class="quadri" href="http://www.quadri.com.ar">Quadri</a> se estableció en Buenos Aires en 1861. Sus fundadores trajeron desde Lugano, Suiza, el oficio y técnica del terrazzo.
  		</p>
  		<p>
  			En Queo combinamos las tradicionales técnicas artesanales de la fabricación del terrazzo con nuevas tecnologías de aglomerado y pulido. Utilizamos mármoles, cuarzo, vidrios y otros minerales y compuestos para obtener un terrazzo moderno y de altas prestaciones.
  		</p>
  		<p>
  			El terrazzo nos permite diseñar piezas únicas, diferentes, verdaderas obras de arte
  		</p>
		</div>
  </div>
</div>