<!-- <div class="container d-flex align-items-md-stretch">
  <div class="bg-primary w-50">
  	<div>
	  	<img [src]="image" class="img-fluid" alt="Responsive image">
  	</div>
  	<div>
	  	<img *ngFor="let img of detail.img" [src]="img" (click)="changeImage(img)" alt="..." class="rounded thumbnail">
  	</div>
  </div>
  <div class="bg-success w-50">
  	<div>{{ detail.description }}</div>
  	<div>{{ detail.prize }}</div>
  </div>
</div> -->

<div class="container d-flex align-items-md-stretch">
  <div class="bg-primary w-50">
  	<div>
	  	<img [src]="image" class="img-fluid" alt="Responsive image">
  	</div>
  	<div>
	  	<img *ngFor="let img of detail.images" [src]="img.url" (click)="changeImage(img.url)" alt="..." class="rounded thumbnail">
  	</div>
  </div>
  <div class="bg-success w-50">
  	<div>{{ detail.name }}</div>
  	<div>{{ detail.prize }}</div>
  </div>
</div>
