<div class=" contenedor container d-flex flex-column flex-md-row my-sm-2">
  
  <!-- imagenes -->
  <div #imagesDiv class="d-flex w-50 images mobileWidth">

    <!-- selector -->
  	<div class="d-flex flex-column selector selectorCont">
      
      <!-- <div class="arrow text-center"><i class="fa fa-caret-up" aria-hidden="true"></i></div> -->
      
      <div class="selector">
        <div *ngFor="let img of detail.images ; let i = index" class="text-center">
          <img [src]="img.url" (click)="detailCarousel.select(i)" alt="..." class="rounded thumbnail m-2">
        </div>  
      </div>
      
  		
      <!-- <div class="arrow text-center"><i class="fa fa-caret-down" aria-hidden="true"></i></div>  		 -->
  	</div>

    <!-- carousel -->
  	<div class="">
	  	<ngb-carousel #carousel [interval]="0" (slide)="cambio($event)" #detailCarousel="ngbCarousel">
			  <ng-template ngbSlide *ngFor="let img of detail.images; let i = index" [id]="i">
			    <img #imageCar [src]="img.url" (window:resize)="setHeight()" class="img-fluid p-2 rounded" alt="Random first slide">
			  </ng-template>
			</ngb-carousel>
  	</div>
    
  </div>

  <!-- texto -->
  <div class="w-50 p-2 p-md-4 mobileWidth">
  	<div class="artName">{{ detail.name }}</div>
  	<div class="text-muted prize">{{ detail.prize | currency:'USD':true:'1.0-0' }}</div>
  	<app-colors [colorsObj]="detail.colors"></app-colors>
  	<p class="pt-4"> {{ detail.descripcion }} </p>
  	<ul *ngFor="let bullet of detail.bullets">
  		<li> {{ bullet }} </li>
  	</ul>
  </div>

</div>
