<div class="container-fluid">

  	<div class="d-flex flex-column mb-5">
  		<h1 class="display-2 text-center my-5">Tradicion + tecnologia</h1>
  		<div class="d-flex justify-content-around">
  			<div class="divImg rounded" [ngStyle]="{'background-image': 'url(' + images.quarzo2 + ')'}"></div>
	  		<p class="text align-self-center text-justify">
	  			La espectacular belleza y terminacion del terrazzo potenciado con nuevos aditivos que evitan fisuras y y tecnologias de pulido. Libera tu creatividad y permite que este material increbile redefina los limites que entendias posible para tus proyectos.
	  		</p>
			</div>
		</div>

  	<div class="d-flex justify-content-around mb-5">
  		<div class="d-flex text flex-wrap align-content-center">
  			<h1 class="display-4">Sin juntas, sin fisuras</h1>
	  		<p class="text-justify">
	  			No mas juntas que arruinen tus diseños. No mas incesantes busquedas tras piezas de grandes tamaños dificiles de instalar y acopiar. Tus grandes espacios lucen mejor que nunca.
	  		</p>
  		</div>
  		<div class="divImg rounded" [ngStyle]="{'background-image': 'url(' + images.terr3 + ')'}"></div>
		</div>

		<div class="d-flex justify-content-around mb-5">
			<div class="divImg rounded" [ngStyle]="{'background-image': 'url(' + images.colores + ')'}"></div>
  		<div class="d-flex text flex-wrap align-content-center">
  			<h1 class="display-4">Tus colores</h1>
	  		<p class="text-justify">
	  			Elije un color de nuestra curada carta de colores, o crea tu propia tonalidad. Ya no hay limites a tus diseños. Nuestros tecnicos te ayudaran a hacer de tus proyectos algo unico
	  		</p>
	  	</div>
		</div>

		<div class="d-flex flex-column mb-5">
			<h1 class="display-4 text-center mb-3">El trabajo lo hacemos nosotros</h1>
  		<p class="text-justify" style="width: 90%; margin: auto;">
  			Elegir el material a colocar, conseguir quien lo venda y tenga stock, hacer el computo para que no sobre ni falte, coordinar el envio, recibirlo, acopiarlo hasta que sea colocado, coordinar contratistas que hagan el trabajo bien, calcular pegamentos y pastinas para la colocacion... Y sigue la lista. 
	  		<br>
  			Dejanos el trabajo pesado a nosotros. Concentrate solo en el el diseño. En 4 dias tu piso estara colocado y listo para ser transitado
  		</p>
		</div>
  		
</div>
