<div class="container">

	<h5 class="pt-3 text-secondary" style="font-weight: 300;">Linea Pepito</h5>
	
	<div class="d-flex flex-wrap justify-content-start p-2 mx-auto">

		<div *ngFor="let item of [1,2,3,4,5,6,7]" class="mw-100 p-4">
			<div class="divImg rounded-circle p-2" [ngStyle]="{'background-image': 'url(' + images.colores + ')'}"></div>
			<div class="colorText text-center p-2">Fantasia</div>
		</div>

	</div>

	<h5 class="pt-3 text-secondary" style="font-weight: 300;">Linea Juanito</h5>
	
	<div class="d-flex flex-wrap justify-content-start p-2 mx-auto">

		<div *ngFor="let item of [1,2,3,4,5]" class="mw-100 p-4">
			<div class="divImg rounded-circle p-2" [ngStyle]="{'background-image': 'url(' + images.colores + ')'}"></div>
			<div class="colorText text-center p-2">Navidad</div>
		</div>

	</div>

</div>
