<!-- !!! todo lo que esta comentado es para tener un layout con filtros al costado
			tambien hay que descomentar lo que esta comentado en los estilos -->
<div class="container">
<!-- <div class="d-flex p-2"> -->
	
	
	<!-- <div class="filtros" (window:resize)="onResize($event)" [ngClass] = "{'hiddenFilters': this.innerWidth < 576}">
		filtros
	</div> -->
	
	<!-- <div class="productos my-2">
		<h5 class="pt-3 pl-3 text-secondary" style="font-weight: 300;">Linea Pepito</h5>
		<div class="productos row my-2">

			<div *ngFor="let item of [1,2,3,4,5,6,7]" class="col-sm-6 col-lg-4 col-xl-3 my-2">
				<div class="card border-0" >
			    <img class="card-img-top" [src]="images.platitos" alt="Card image cap">
			    <div class="card-body">
			      <h6 class="card-title">Platitos</h6>
			      <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
			    </div>
			  </div>			
			</div>
		</div>

		<h5 class="pt-3 pl-3 text-secondary" style="font-weight: 300;">Linea Juanito</h5>
		<div class="productos row my-2">

			<div *ngFor="let item of [1,2,3,4,5,6,7]" class="col-sm-6 col-lg-4 col-xl-3 my-2">
				<div class="card" >
			    <img class="card-img-top" [src]="images.platitos" alt="Card image cap">
			    <div class="card-body">
			      <h4 class="card-title">Platitos</h4>
			      <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
			    </div>
			  </div>			
			</div>
		</div>
	</div> -->

	<div class="productos my-2" *ngIf="products">
			<div class="productos row m-2">

				<div *ngFor="let product of products" class="col-sm-6 col-lg-4 col-xl-3 my-2 article">
					<div class="card border-0" (click)="navigate(product.name, product)">
				    <img class="card-img-top rounded" [src]="product.images[0].url" alt="Card image cap">
			      <div class="">{{ product.name | capitalize}}</div>
			      <div class="text-muted">{{ product.prize | currency:'USD':true:'1.0-0' }}</div>
				  </div>			
				</div>

			</div>
	</div>
			
		

<!-- </div> -->

<!-- </div> -->
</div>