<!-- <p>
  {{ colors | async | json}}
</p> -->
<div *ngIf="colors">
	<div *ngFor="let serie of colors | objNgfor ">
		
		<!-- <div class=""> {{ serie | capitalize }} </div> -->

		<div class="d-flex flex-wrap align-content-start">
		  <div *ngFor="let color of colors[serie]" class="color justify-content-center px-2" (click)="open(content, color.url)">
				<div class="divImg rounded-circle p-2 m-auto" [ngStyle]="{'background-image': 'url(' + color.url + ')'}"></div>
				<div  class="colorText text-center p-1">{{ color.name }}</div>
			</div>
		</div>

	</div>
</div>

<ng-template #content let-c="close" let-d="dismiss">
  <div class="modal-body">
    <img class="rounded img-fluid mx-auto" [src]="selectedImg">
  </div>
<!--   <div class="modal-footer">
    <button type="button" class="btn btn-outline-dark" (click)="c('Close click')">Close</button>
  </div> -->
</ng-template>

