<!-- la imagen la saco porque es dificil hacerla responsive. Uso la imagen como cover del div custom.
Como el template de cada slide se crea dinamicamente por el componente de ng-bootstrap es necesario modificar las clase desde el controlador -->

<div class="carousel-wrapper">
  <ngb-carousel [interval]="0" (slide)="cambio($event)">
    <ng-template ngbSlide #slide1>
      <div class="carousel-caption">
        <h3>First slide label</h3>
        <p>Nulla vitae elit libero, a pharetra augue mollis interdum.</p>
      </div>
      <div class="custom" [ngStyle]="{'background-image': 'url(' + terrazzoImg.terr1 + ')'}"></div>
    </ng-template>
    <ng-template ngbSlide #slide2>
      <div class="carousel-caption">
        <h3>Second slide label</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
      </div>
      <div class="custom" [ngStyle]="{'background-image': 'url(' + terrazzoImg.quarzo1 + ')'}"></div>
    </ng-template>
    <ng-template ngbSlide #slide3>
      <div class="carousel-caption">
        <h3>Third slide label</h3>
        <p>Praesent commodo cursus magna, vel scelerisque nisl consectetur.</p>
      </div>
      <div class="custom" [ngStyle]="{'background-image': 'url(' + epoxiImg.epoxi1 + ')'}"></div>
    </ng-template>
    <ng-template ngbSlide #slide3>
      <div class="carousel-caption">
        <h3>Forth slide label</h3>
        <p>Praesent commodo cursus magna, vel scelerisque nisl consectetur.</p>
      </div>
      <div class="custom" [ngStyle]="{'background-image': 'url(' + terrazzoImg.nico4 + ')'}"></div>
    </ng-template>
  </ngb-carousel>
</div>
<!-- <div>
  prueba
</div>
 -->  