.carousel-wrapper {
	height: 100vh;
}

.carousel-inner {
	height: 100%;
}

.custom {
	height:100%;
	flex: 1;
	background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

@media (min-width : 768px) {

	.mobile {
		display: none;
	}

}

@media (max-width : 769px) {

	.desktop {
		display: none;
	}

}


// esto para hacer la barra transparente
.navbar-trans {
  background: transparent; 
}

.titles {
	position: relative;
  top: 10%;
  left: 5%;
  color: white;
  font-weight: 100;
  line-height: 1.2;
}

.title {
	font-size: 10rem;
}

.subTitle {
	font-size: 3rem;
}

.parrafo {
	font-size: 1.5rem;
	width: 40vw;
}
