.carousel-wrapper {
	height: 100vh;
}

.carousel-inner {
	height: 100%;
}

.custom {
	height:100%;
	flex: 1;
	background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.logo {
  width: 35%;
  max-width: 30rem;
  min-width: 17rem;
  position: relative;
  top: 10%;
  left: 5%;
}

@media (min-width : 768px) {

	.mobile {
		display: none;
	}

}

@media (max-width : 769px) {

	.desktop {
		display: none;
	}

}


// esto para hacer la barra transparente
.navbar-trans {
  background: transparent; 
}

.terrazzo {
	color: #FF00FF;
}

.terrazzo:hover {
	font-weight: 400;
	text-decoration: none;
}
